$blue-text: #00ccee;
$light-blue-text: #78e2fa;
$gradient-purple: #5e52f5;
$gradient-blue: #04e1fe;
$dark-blue: #174d6a;
$dark-purple-bg: #202643;
$bg-dark: #191823;
$bg-light: #202544;
$toggle-btn-disable: #2f334c;